*~
*.bak
*.swp
*.log
*.bib
*.aux
*.bbl
*.blg
*.out
*.toc
*.nfs*

loi/*.csh
loi/loi.*
!loi/loi.tex
!loi/loi.pdf

loi/figures/*

deliverablesPastFutureWork/deliverablesPastFutureWork.*
!deliverablesPastFutureWork/deliverablesPastFutureWork.tex
!deliverablesPastFutureWork/deliverablesPastFutureWork.pdf
