*~
*.bak
*.swp
bbr24_application.pdf

old/

application/application.*
!application/application.tex
!application/application.pdf

application/figures/*
!application/figures/*.tex
!application/figures/arena.png
!application/figures/patch.png
