*~
*.nav
*.snm
*.bak
*.swp
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.nfs*

loi/*.csh
loi/loi.*
!loi/loi.tex
!loi/loi.pdf

loi/figures/*
loi/old/*

application/bibunits/

deliverablesPastFutureWork/deliverablesPastFutureWork.*
!deliverablesPastFutureWork/deliverablesPastFutureWork.tex
!deliverablesPastFutureWork/deliverablesPastFutureWork.pdf
